@charset "UTF-8";
body {
  background-color: #F0F0F0;
  color: #000000;
  font-family: "Hiragino Kaku Gothic ProN";
  margin: 0;
  overflow-x: hidden;
}

.l-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 900px) {
  .l-container {
    padding-right: 0%;
    padding-left: 0%;
  }
}

.p-mv,
.p-about {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}
.p-mv img,
.p-about img {
  width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 900px) {
  .p-mv,
  .p-about {
    /* 左右のネガティブマージンとcalc幅を削除 */
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .p-mv img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.m-section-title {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 900px) {
  .m-section-title {
    padding-right: 16px;
    padding-left: 16px;
    height: auto;
  }
  .p-mv + .l-container .m-section-title {
    margin-top: 80px;
  }
}
.m-section-title__en {
  color: #000000;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 10.8px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .m-section-title__en {
    margin-bottom: 10px;
  }
}
.m-section-title__ja {
  color: #000000;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 36px;
}
@media (max-width: 900px) {
  .m-section-title__ja {
    margin-bottom: 24px;
  }
}
.m-section-title::after {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background-color: #000000;
  margin-top: auto;
}

.l-header {
  width: 100%;
  height: 80px;
  background-color: #F0F0F0;
}
@media (max-width: 900px) {
  .l-header {
    height: 80px;
  }
}
.l-header__inner {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-left: 100px;
}
@media (max-width: 900px) {
  .l-header__inner {
    height: 80px;
    padding: 16px 16px 15px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.l-header__logo {
  margin-right: 60px;
}
.l-header__logo img {
  width: 100px;
  height: 25.595px;
  display: block;
}
@media (max-width: 900px) {
  .l-header__logo {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .l-header__logo img {
    width: 80px;
    height: 20px;
  }
}
@media (max-width: 900px) {
  .l-header__nav {
    width: 100%;
    height: 21px;
  }
}
.l-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 900px) {
  .l-header__list {
    width: 100%;
  }
}
.l-header__item a {
  text-decoration: none;
  color: #000000;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 900px) {
  .l-header__item a {
    display: block;
    line-height: 1.5;
  }
}
.l-header__cta {
  margin-left: auto;
}
@media (max-width: 900px) {
  .l-header__cta {
    display: none;
  }
}

.m-button-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 80px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}

.l-footer {
  width: 100%;
  max-width: 1400px;
  height: 220px;
  margin: 0 auto;
  background-color: #ffffff;
  position: relative;
}
.l-footer__inner {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.l-footer__logo img {
  width: 100px;
  height: auto;
  display: block;
}
.l-footer__info p {
  color: #000000;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  text-align: left;
}
.l-footer__copyright {
  position: absolute;
  bottom: 20px;
  left: calc((100% - 1032px) / 2 + 16px);
  font-size: 10px;
  line-height: 1;
  margin: 0;
  font-weight: 300;
}
@media (max-width: 1032px) {
  .l-footer__copyright {
    left: 16px;
  }
}
@media (max-width: 900px) {
  .l-footer {
    height: auto;
    padding: 60px 16px 20px;
  }
  .l-footer__inner {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
  .l-footer__info {
    margin-left: 0;
    text-align: left;
  }
  .l-footer__copyright {
    position: static;
    margin-top: 40px;
  }
}

.p-news .m-section-title {
  margin-bottom: 60px;
}
.p-news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 900px) {
  .p-news__list {
    padding: 0 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 44px;
  }
}
.p-news__item {
  width: 280px;
  padding-right: 0;
}
@media (max-width: 900px) {
  .p-news__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .p-news__item:last-of-type {
    margin-bottom: 0;
  }
}
.p-news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
@media (max-width: 900px) {
  .p-news__meta {
    margin-bottom: 16px;
  }
}
.p-news__date {
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: 300;
  font-size: 14px;
}
.p-news__category {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  color: #ffffff;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}
.p-news__title {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  font-weight: 300;
  line-height: 1.5;
}
.p-news__border {
  width: 1px;
  height: 81px;
  background-color: #000000;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 40px;
  margin-left: 40px;
}
@media (max-width: 900px) {
  .p-news__border {
    display: none;
  }
}

.p-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 900px) {
  .p-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 90px;
    padding-bottom: 80px;
  }
}
.p-about__visual {
  width: 55%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 900px) {
  .p-about__visual {
    width: 100%;
    overflow: hidden;
  }
}
.p-about__visual img {
  width: 100%;
  height: auto;
  display: block;
}
.p-about__content {
  width: 45%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 180px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 900px) {
  .p-about__content {
    width: 100%;
    padding: 40px 16px 0;
  }
}
.p-about .m-section-title {
  margin-top: 0;
  margin-bottom: 34px;
  width: 100%;
  height: auto;
}
@media (max-width: 900px) {
  .p-about .m-section-title {
    margin-left: -16px;
  }
}
.p-about__text {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: #000000;
  width: 490px;
  max-width: 100%;
}
@media (max-width: 900px) {
  .p-about__text {
    width: 100%;
  }
}

.p-business .m-section-title {
  margin-top: 0;
  margin-bottom: 50px;
}
@media (max-width: 900px) {
  .p-business .m-section-title {
    margin-top: 0;
  }
}
.p-business__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 102px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 900px) {
  .p-business__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 16px;
    gap: 40px;
  }
}
.p-business__col {
  width: 362px;
  height: 677px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.p-business__col:first-of-type {
  margin-right: 64px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.p-business__col--right {
  margin-right: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 900px) {
  .p-business__col {
    width: 100%;
    height: auto;
    margin-right: 0;
  }
}
.p-business__item {
  width: 100%;
}
.p-business__item:first-of-type {
  margin-bottom: 40px;
}
.p-business__body {
  margin-bottom: 10px;
}
.p-business__name {
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  line-height: 1;
  margin-bottom: 10px;
}
.p-business__name::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 0%;
  border-top: 1px solid #000000;
  background-color: #000000;
}
.p-business__image {
  width: 362px;
  height: 232px;
  overflow: hidden;
}
.p-business__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media (max-width: 900px) {
  .p-business__image {
    width: 100%;
    height: auto;
  }
}

.p-company {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #F0F0F0;
}
@media (max-width: 900px) {
  .p-company {
    padding-top: 80px;
    padding-bottom: 0;
  }
}
.p-company__inner {
  position: relative;
  width: 1032px;
  height: 622px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .p-company__inner {
    width: 100%;
    height: auto;
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.p-company__box {
  position: absolute;
  left: 0;
  top: 0;
  width: 567px;
  height: 622px;
  background-color: #ffffff;
  padding: 100px 40px 60px 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}
@media (max-width: 900px) {
  .p-company__box {
    position: static;
    width: 100%;
    height: auto;
    padding: 60px 20px;
  }
}
.p-company__box .m-section-title {
  margin-top: 0;
  margin-bottom: 50px;
}
@media (max-width: 900px) {
  .p-company__box .m-section-title {
    margin-left: -20px;
  }
}
.p-company__box .m-section-title::after {
  margin-left: 0;
}
.p-company__info {
  display: grid;
  grid-template-columns: 84px 1fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 12px;
}
@media (max-width: 900px) {
  .p-company__info {
    display: block;
  }
}
.p-company__info dt {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.8;
}
@media (max-width: 900px) {
  .p-company__info dt {
    margin-bottom: 5px;
  }
}
.p-company__info dd {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
}
@media (max-width: 900px) {
  .p-company__info dd {
    padding-left: 1em;
    margin-bottom: 20px;
  }
  .p-company__info dd:last-of-type {
    margin-bottom: 0;
  }
}
.p-company__image {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 547px;
  height: 400px;
  z-index: 2;
}
@media (max-width: 900px) {
  .p-company__image {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 0;
    overflow: hidden;
  }
  .p-company__image img {
    aspect-ratio: 547/400;
    vertical-align: bottom;
  }
}
.p-company__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}/*# sourceMappingURL=style.css.map */